
@{
    ViewBag.Title = "index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}



<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>*@
</div>

<!-- Content Row -->
<div class="row">

    @{
        Html.RenderAction("CountNews", "Home");
    }

    @{
        Html.RenderAction("CountUser", "Home");
    }

    @{
        Html.RenderAction("CountStore", "Home");
    }

    @{
        Html.RenderAction("CountView", "Home");
    }

</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold" style="color: #800100">BÀI VIẾT NỔI BẬT</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @{ Html.RenderAction("HotBlogNews", "Home"); }
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold" style="color: #800100">CỬA HÀNG KHUYẾN MÃI</h6>
            </div>
            <div class="card-body">
                @{ Html.RenderAction("PromotionStore", "Home"); }
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold" style="color: #800100">DOANH THU QUẢNG CÁO</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Ngày
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Tháng
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Năm
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



