@model IEnumerable<langfvn.Models.News>


<blockquote>Bài viết liên quan:</blockquote>
<ul>
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("details", "news", new { name = item.Title})">@item.Title</a></li>
    }
</ul>

<style>
    ul li a:hover {
        color: #1e73be;
        font-weight: bolder;
    }
</style>
