@model IEnumerable<langfvn.Models.CategoryNew>
<div class="menu text-uppercase">
    <ul class="nav">
        <li>
            <a href="" id="gioithieu">Giới thiệu</a>
        </li>
        <li>
            <a class="khuyenmai" href="" id="khuyenmai">Khuyến mãi</a>
        </li>
        @foreach (var item in Model)
        {
            <li id="dropdown" class="dropdown">
                <a class="dropbtn" href="@Url.Action("index", "news",new { category = @item.CNewsName})" id="@item.CNewsName">@item.CNewsName</a>
                <i id="icon-angel-down" class="fas fa-angle-down"></i>
                <div class="dropdown-content">
                    @{
                        Html.RenderAction("MenuHeaderCon", "Home", new { id = item.CNewsID });
                    }
                </div>
            </li>
        }
        <li class="">
            <a href="">
                <i class="fas fa-search" style="font-size: 16px"></i>
            </a>
        </li>
    </ul>
</div>

