@model IEnumerable<langfvn.Models.CategoryNew>
<div class="menu text-uppercase">
    <ul class="nav">
        <li>
            <a href="" id="gioithieu">Giới thiệu</a>
        </li>
        <li>
            <a class="khuyenmai" href="" id="khuyenmai">Khuyến mãi</a>
        </li>
        @foreach (var item in Model)
        {
            <li id="dropdown" class="dropdown">
                <a class="dropbtn" href="@Url.Action("index", "news",new { category = @item.CNewsName})" id="@item.CNewsName">@item.CNewsName</a>
                <i id="icon-angel-down" class="fas fa-angle-down"></i>
                <div class="dropdown-content">
                    @{
                        Html.RenderAction("MenuHeaderCon", "Home", new { id = item.CNewsID });
                    }
                </div>
            </li>
        }
        <li class="">
            @*@{
                    Html.RenderAction("Search", "Home");
                }*@


            <a href="#">
                <label for="nav-input" class="fas fa-search" style="font-size: 16px"></label>
            </a>
            <input type="checkbox" hidden name="" class="nav-input" id="nav-input">
            <label for="nav-input" class="nav-overplay">
                <div class="container-overplay">
                    <div class="content-overplay">
                        <div id="search-lightbox" class="dark text-center">
                            <div class="searchform-wrapper position-relative is-lagre">
                                <form action="" method="get">
                                    <div class="flex-row position-relative">
                                        <div class="flex-column flex-lg-row" style="width: 100%;">
                                            <input type="text" id="search" class="search-field mb-0" placeholder="Bạn cần tìm gì nhỉ?" autocomplete="off">
                                        </div>
                                        <div class="flex-column">
                                            <button type="submit" class="ux-search-submit mb-0">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div id="grdNews" class="is-lagre"></div>
                </div>
            </label>


        </li>
    </ul>
</div>

