@model IEnumerable<langfvn.Models.News>

@foreach (var item in Model)
{
    <div class="autocomplete-suggestions">
        <a href="@Url.Action("details", "news",  new { id = item.NewsID, name = item.Title})">
            <div class="autocomplete-suggestion">
                <img class="search-img" src=" @item.Image">
                <div class="search-name">
                    @if (Model.Count() != 0)
                    {
                        @item.Title
                    }
                    else
                    {
                        <p>Không tìm thấy kết quả!</p>
                    }
                </div>
            </div>
        </a>
    </div>
}