@{
    ViewBag.Title = "Giới thiệu Ăn chơi Sinh viên";
    Layout = "~/Areas/camnang/Views/Shared/_LayoutNews.cshtml";
}

<div class="col-lg-9 box-shadow-1">
    <header class="entry-header" style="position: unset">
        <div class="entry-header-text text-center">
            <h6 class="entry-category is-xsmall text-uppercase">
                <a href="#">giới thiệu</a>
            </h6>
            <h1 class="entry-title">
                Giới thiệu Ăn Chơi Sinh Viên
            </h1>
            <div class="is-devider-news"></div>
            <div class="entry-metal text-uppercase is-xsmall" style="letter-spacing: .05em;">
                <span class="posted-on">đăng tải <a href="#">SEP 06, 2020</a></span>
                <span class="byline">bởi <a href="#">CẨM NANG SINH VIÊN</a></span>
            </div>
        </div>
        <div class="entry-image">
            <a href="#">
                <img src="https://www.langf.vn/cam-nang-lang-dai-hoc/wp-content/uploads/2019/06/37805070_1381685421964316_7368902130213584896_n.jpg" />
            </a>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <div style="line-height: 1.6;">
                    <span class="font-weight-bold text-danger">ĂN CHƠI SINH VIÊN</span>
                    là một website/nền tảng cộng đồng cung cấp
                    <b>Mã khuyến mãi trực tuyến</b>
                    và các hình thức Ưu đãi khác (ví dụ như <b>Thẻ thành viên</b>) phục vụ đối tượng khách hàng chính là Sinh viên.
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/Content/main/img/LOGO1-1.png" width="150" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 text-center">
                <img src="~/Content/main/img/7529529.png" width="150" />
            </div>
            <div class="col-md-8">
                <div style="line-height: 1.6;">
                    Bên cạnh đó,  <span class="font-weight-bold text-danger">ĂN CHƠI SINH VIÊN</span>
                    cung cấp giải pháp tiếp cận khách hàng hiệu quả dành cho các cửa hàng,
                    hợp tác cùng các cửa hàng – địa điểm dịch vụ mang lại những giá trị ưu đãi dành riêng cho Sinh viên.
                </div>
            </div>
        </div>
        <div class="m-3" style="line-height: 2">
            <div>Tham gia cộng đồng tại: <a href="https://www.facebook.com/groups/anchoilangdaihoc">Ăn chơi Làng đại học</a></div>
            <div>Follow page để cập nhật tin tức mới nhất: <a href="https://www.facebook.com/langfvn/">Ăn Chơi Sinh Viên</a></div>
            <div>Và nhận những ưu đãi trực tiếp ngay tại Website: <a href="/camnang">Ăn chơi sinh viên chấm vn</a></div>
            <div class="text-right pb-5"><b>#langfvn #anchoisinhvien</b></div>
        </div>
    </header>
</div>


