@model IEnumerable<langfvn.Models.Advertisement>

<input type="checkbox" hidden class="ad-input" id="ad-input" />
<label for="ad-input" class="ad-overlay"></label>
<div id="carouselAd" class="carousel slide" data-ride="carousel" data-interval="3000">
    <label for="ad-input" class="ad-close">
        <img src="~/Content/main/img/cancel.svg" width="20" />
    </label>
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            <div class="carousel-item">
                <a href="@item.AdUrl">
                    <img src="@item.Image" />
                </a>
            </div>
        }
    </div>
</div>
