@model langfvn.Models.Place

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>QUẢN LÝ KHU VỰC</h3>
<div>
    <i class="fas fa-undo-alt"></i>
    <a href="/admin/places">Quay về danh sách khu vực</a>
</div>
<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">XÓA KHU VỰC #@Model.PlaceID</h6>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Khu vực
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlaceName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <p class="text-danger">Bạn có chắc chắc muốn xóa?</p>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>
