@model IEnumerable<langfvn.Models.KindOfNew>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle custom-select" type="button" data-toggle="dropdown">
        <span>Lọc tin theo</span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li>
                <a class="dropdown-item" href="@Url.Action("index","news",new { page=1, loai_tin = @item.KonName})">@item.KonName</a>
            </li>
        }
    </ul>
</div>

<style>
    .custom-select {
        border-radius: unset;
        border: 1px solid #ededed !important;
        padding: 6px 20px !important;
        background: #fff;
    }

        .custom-select:focus {
            outline: 0 !important;
            box-shadow: 0 0 0 0.2rem rgb(165 128 109 / 25%) !important;
        }
</style>

