@model langfvn.Models.CategoryNew

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>QUẢN LÝ THỂ LOẠI TIN</h3>
<div>
    <i class="fas fa-undo-alt"></i>
    <a href="/admin/categorynews">Quay về danh sách thể loại tin</a>
</div>
<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">CHI TIẾT THỂ LOẠI TIN #@Model.CNewsID</h6>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    ID
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CNewsID)
                </dd>
                <dt>
                    Thể loại tin
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CNewsName)
                </dd>
                <dt>
                    Ngày khởi tạo
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
            </dl>
        </div>
    </div>
</div>



